stages:
- build
- docker

# Az Angular build
build:
  stage: build
  image: node:18
  script:
  - npm install -g @angular/cli
  - npm ci
  - ng build --configuration production
  artifacts:
    paths:
    - dist/

# Docker image építése és deploy
dockerize:
  stage: docker
  image: docker:24.0.7
  services:
  - name: docker:24.0.7-dind
    command: ["--insecure-registry=192.168.1.37:8083"]
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:
  # Bejelentkezés a Nexus Docker registry-be
  - echo "$NEXUS_PASSWORD" | docker login -u "$NEXUS_USERNAME" --password-stdin http://192.168.1.37:8083/repository/docker-hosted/

  # Docker image építése
  - docker build -t http://192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx .

  # Docker képek listázása (ellenőrzés)
  - docker images

  # Docker kép pusholása a Nexus-ra
  - docker push 192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx
  artifacts:
    paths:
    - dist/
