stages:
- build
- docker
- deploy

# Az Angular build
build:
  stage: build
  image: node:18
  script:
  - npm install -g @angular/cli
  - npm ci
  - ng build --configuration production
  artifacts:
    paths:
    - dist/

# Docker image építése és deploy
dockerize:
  stage: docker
  image: docker:24.0.7
  services:
  - name: docker:24.0.7-dind
    command: [ "--insecure-registry=192.168.1.37:8083" ]
    alias: docker
  variables:
    DOCKER_HOST: tcp://docker:2375
    DOCKER_TLS_CERTDIR: ""
  script:

    - echo "$NEXUS_PASSWORD" | docker login -u "$NEXUS_USERNAME" --password-stdin http://192.168.1.37:8083/repository/docker-hosted/
    - docker build -t 192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx .
    - docker images
    - docker push 192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx

  artifacts:
    paths:
    - dist/

deploy-to-server:
  stage: deploy
  image: alpine:latest
  before_script:
    - apk add --no-cache openssh
  script:
    # Privát kulcs fájlba mentése
    - echo "$SSH_PRIVATE_KEY" > id_rsa
    - chmod 600 id_rsa

    # Host hozzáadása a known_hosts-hoz, hogy ne kérdezzen rá
    - mkdir -p ~/.ssh
    - ssh-keyscan -H "$DEPLOY_SERVER_IP" >> ~/.ssh/known_hosts

    # Belépés a szerverre és deploy
    - |
      ssh -i id_rsa $DEPLOY_USER@$DEPLOY_SERVER_IP << 'EOF'
        docker login -u "$NEXUS_USERNAME" -p "$NEXUS_PASSWORD" http://192.168.1.37:8083
        docker pull 192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx
        docker stop my-angular-app || true
        docker rm my-angular-app || true
        docker run -d --name my-angular-app -p 80:80 192.168.1.37:8083/repository/docker-hosted/my-angular-app-nginx
      EOF




