stages:
- build
- deploy

build:
  stage: build
  tags:
  - docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker build -t my-angular-app .
  - docker save my-angular-app | gzip > my-angular-app.tar.gz
  artifacts:
    paths:
    - my-angular-app.tar.gz

deploy:
  stage: deploy
  tags:
  - docker
  image: python:3.10
  script:
  - pip install ansible
  - ansible-playbook -i inventory.yml deploy.yml
