stages:
- copy
- start

copy:
  stage: copy
  before_script:
  - 'command -v ssh-agent >/dev/null || ( apk add --update openssh )'
  - eval $(ssh-agent -s)
  - ssh-add <(echo "$SSH_PRIVATE_KEY")
  - mkdir -p ~/.ssh
  - '[[ -f /.dockerenv ]] && echo -e "Host *\n\tStrictHostKeyChecking no\n\n" > ~/.ssh/config'
  - ssh $SSH_USER@$REMOTE_SERVER rm -Rf /works/pigapp_frontend
  script:
  - ssh $SSH_USER@$REMOTE_SERVER echo "hello"
  - pwd
  - ls -al
  - scp -i ./id_rsa.pub -r ../pigapp_frontend  $SSH_USER@$REMOTE_SERVER:/works/

start:
  stage: start
  script:
  - echo "start"
