stages:
- build
- deploy

build:
  stage: build
  tags:
  - docker
  image: docker:latest
  services:
  - docker:dind
  script:
  - docker build -t pigapp-frontend-project .
  - docker save my-angular-app | gzip > pigapp-frontend-project.gz
  artifacts:
    paths:
    - pigapp-frontend-project.gz

deploy:
  stage: deploy
  tags:
  - docker
  image: python:3.10
  script:
  - pip install ansible
