<!-- invoice-summary-card.component.html -->

<!-- fejléc -->
<header>
  <div>
    <div>
      <span>Számla neve:</span>
      <span>{{ summary.invoice_name }}</span>
    </div>
    <div>
      <span>Fizetendő összeg:</span>
      <span>
        {{ summary.total_invoice_amount | number }} Ft
      </span>
    </div>
  </div>
</header>

<!-- táblázat -->

<table appTailwindStyledTable>
  <thead>
    <tr>
      <th>#</th>
      <th>Költségnév</th>
      <th>Összeg</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let detail of summary.details; let i = index">
      <td>{{ i + 1 }}</td>
      <td>{{ detail.costrepeat_name }}</td>
      <td>{{ detail.total_amount | number }} Ft</td>
    </tr>
  </tbody>
</table>
