<app-alert-message
  *ngIf="alertVisible"
  [type]="alertType"
  [message]="alertMessage"
  [closable]="true"
  (click)="alertVisible = false"
></app-alert-message>

<h2 class="text-2xl font-semibold text-blue-800 mb-4">
  {{ isEditMode ? 'Költség módosítása' : 'Új költség' }}
</h2>
<app-cost-repeat-form
  [costRepeatForm]="costRepeatForm"
  [isEditMode]="isEditMode"
  (formSubmit)="onSubmit()"
></app-cost-repeat-form>
<app-cost-repeat-list [costsRepeatList]="costsRepeatList"></app-cost-repeat-list>
