<div
  *ngIf="isLoading"
  class="flex justify-center items-center h-32 text-lg font-semibold text-blue-600"
>
  Betöltés...
</div>

<div
  *ngIf="errorMessage"
  class="flex justify-center items-center h-32 text-lg font-semibold text-red-600"
>
  {{ errorMessage }}
</div>

<div *ngIf="!isLoading && !errorMessage" class="p-6 max-w-4xl mx-auto">
  <h2 class="text-2xl font-bold text-gray-800 mb-4">Összesített számlaösszeg</h2>
  <p *ngIf="totalAmountInvoice" class="text-xl text-green-600 mb-8">
    Összesen: {{ totalAmountInvoice.totalAmountInvoice | number }} Ft
  </p>

  <h2 class="text-2xl font-bold text-gray-800 mb-4">Számlák aktuális egyenlege</h2>
  <ul class="mb-8 space-y-2">
    <li *ngFor="let invoice of invoices" class="bg-gray-100 p-4 rounded-lg shadow">
      <div class="flex justify-between">
        <span class="font-medium">{{ invoice.invoice_name }}</span>
        <span class="text-gray-600">{{ invoice.amount | number }} Ft</span>
      </div>
    </li>
  </ul>

  <h2 class="text-2xl font-bold text-gray-800 mb-4">Számlák költségösszesítővel</h2>
  <ul class="space-y-2">
    <li *ngFor="let summary of invoiceSummaries" class="bg-gray-50 p-4 rounded-lg shadow">
      <div class="flex flex-col">
        <span class="font-medium">{{ summary.invoice.invoice_name }}</span>
        <div class="text-sm text-gray-600 mt-2">
          Kifizetve: <span class="text-green-600">{{ summary.total_paid }} Ft</span>, Hátralék:
          <span class="text-red-600">{{ summary.total_unpaid }} Ft</span>
        </div>
      </div>
    </li>
  </ul>
</div>
