<div class="cashflow-table-card">
  <!-- fejléc -->
  <h2 class="cashflow-table-title">
    {{ title }}
  </h2>

  <!-- táblázat -->
  <div class="cashflow-table-wrapper">
    <table class="cashflow-table">
      <thead>
      <tr>
        <th class="th-cell text-left">Típus</th>
        <th class="th-cell text-left">Felhasználó</th>
        <th class="th-cell text-left">Számla</th>
        <th class="th-cell text-left">Leírás</th>
        <th class="th-cell text-right">Összeg</th>
        <th class="th-cell text-left">Dátum</th>
      </tr>
      </thead>

      <tbody>
      <tr
        *ngFor="let cashflow of cashflows$ | async"
        class="table-row-hover"
      >
        <td class="td-cell">{{ cashflow.cashflowgroup }}</td>
        <td class="td-cell">{{ cashflow.user }}</td>
        <td class="td-cell">{{ cashflow.invoice }}</td>
        <td class="td-cell">{{ cashflow.cash_flow_note }}</td>
        <td class="td-cell td-right td-emphasis">{{ cashflow.amount }} Ft</td>
        <td class="td-cell">{{ cashflow.cash_flow_date | date:'yyyy-MM-dd' }}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
