<div class="cashflow-container">

  <h2 class="cashflow-title">
    {{ title }}
  </h2>


  <div class="cashflow-list">

    <div
      *ngFor="let cashflow of cashflows$ | async"
      class="cashflow-card"
    >

      <!-- TOP ROW -->

      <div class="cashflow-top">

        <div class="cashflow-type">
          {{ cashflow.cashflowgroup }}
        </div>

        <div class="cashflow-amount">
          {{ cashflow.amount }} Ft
        </div>

      </div>



      <!-- NOTE -->

      <div class="cashflow-note">
        {{ cashflow.cash_flow_note }}
      </div>



      <!-- GRID INFO -->

      <div class="cashflow-grid">

        <div class="info-box">

          <div class="info-label">
            Felhasználó
          </div>

          <div class="info-value">
            {{ cashflow.user }}
          </div>

        </div>


        <div class="info-box">

          <div class="info-label">
            Számla
          </div>

          <div class="info-value">
            {{ cashflow.invoice }}
          </div>

        </div>


        <div class="info-box">

          <div class="info-label">
            Dátum
          </div>

          <div class="info-value">
            {{ cashflow.cash_flow_date | date:'yyyy-MM-dd' }}
          </div>

        </div>


      </div>

    </div>

  </div>

</div>
