<app-transfer-message [message]="transferMessage"></app-transfer-message>

<div class="flex flex-wrap justify-center gap-4 py-12" *ngIf="calculateCosts">
  <ng-container *ngFor="let card of summaryCards">
    <app-summary-card [icon]="card.icon" [title]="card.title" [value]="calculateCosts[card.valueKey]"
      [colorClass]="card.colorClass"></app-summary-card>
  </ng-container>
</div>



<h2 class="text-2xl font-semibold text-blue-800 mb-4">Számla összeg átvitel</h2>

<form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 mb-6">
  <ng-template #invoiceSelect let-controlName let-id>

    <label [for]="id" class="block text-blue-800 font-medium mb-1">Számla</label>
    <select appTailwindStyledSelect="w-24"  [id]="id" [formControlName]="controlName" >
      <option value="0" selected>Válassz számlát</option>
      <option *ngFor="let invoice of invoiceOption" [value]="invoice.id">
        {{ invoice.invoice_name }}
      </option>
      <option *ngIf="invoiceOption.length === 0" value="" disabled>
        Nincs elérhető számla
      </option>
    </select>

  </ng-template>

  <ng-container *ngTemplateOutlet="invoiceSelect; context: { controlName: 'szamla1', id: 'szamla1' }"></ng-container>

  <div class="w-32">
    <label for="osszeg" class="block text-blue-800 font-medium mb-1">Összeg</label>
    <input type="number" id="osszeg" formControlName="osszeg"
      class="w-full p-2 border border-blue-300 rounded-xl shadow-sm" placeholder="Pl. 10000" />
  </div>

  <ng-container *ngTemplateOutlet="invoiceSelect; context: { controlName: 'szamla2', id: 'szamla2' }"></ng-container>


  <button type="submit"
    class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-xl hover:bg-blue-600 disabled:bg-gray-400 disabled:text-gray-200 disabled:hover:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300 shadow">
    Összeg átvitel
  </button>

</form>



<h2 class="text-2xl font-semibold text-blue-800 mb-4">Havi költségek listája</h2>

<div class="flex flex-wrap gap-2 mb-4">

  <button (click)="calculateCost()" class="btn btn-primary">Kalkuláció</button>
</div>

<app-cost-table [costs]="autoCosts" [disabledIds]="disabledCostIds"
  (selectionChange)="onCostsSelectionChange($event)"></app-cost-table>
