<div class="container mx-auto px-4">
  <!-- Üzenet doboz -->
  <div
    *ngIf="transferMessage"
    class="p-4 rounded-xl shadow-md mb-4"
    [ngClass]="{
      'bg-green-100 text-green-800': transferMessage.startsWith('✅'),
      'bg-red-100 text-red-800': transferMessage.startsWith('❌'),
      'bg-yellow-100 text-yellow-800': transferMessage.startsWith('⚠️'),
    }"
    [@fadeInOut]
  >
    {{ transferMessage }}
  </div>

  <!-- Két szekció egymás mellett (Számla átalakítása és Költségek listája) -->
  <div class="flex gap-6">
    <!-- Számla átalakítása -->
    <div class="bg-blue-100 p-6 rounded-2xl shadow-md flex-1">
      <h2 class="text-2xl font-semibold text-blue-800 mb-4">Számla átalakítása</h2>

      <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-6 mb-6">
        <!-- Számla 1 -->
        <div class="flex-1 min-w-[250px]">
          <label for="szamla1" class="block text-blue-800 font-medium mb-1">Számla 1</label>
          <select
            id="szamla1"
            formControlName="szamla1"
            class="w-full p-2 border border-blue-300 rounded-xl shadow-sm"
          >
            <option value="0" selected>Válassz számlát</option>
            <option *ngFor="let invoice of invoiceOption" [value]="invoice.id">
              {{ invoice.invoice_name }}
            </option>
            <option *ngIf="invoiceOption.length === 0" value="" disabled>
              Nincs elérhető számla
            </option>
          </select>
        </div>

        <!-- Összeg -->
        <div class="w-32">
          <label for="osszeg" class="block text-blue-800 font-medium mb-1">Összeg</label>
          <input
            type="number"
            id="osszeg"
            formControlName="osszeg"
            class="w-full p-2 border border-blue-300 rounded-xl shadow-sm"
            placeholder="Pl. 10000"
          />
        </div>

        <!-- Számla 2 -->
        <div class="flex-1 min-w-[250px]">
          <label for="szamla2" class="block text-blue-800 font-medium mb-1">Számla 2</label>
          <select
            id="szamla2"
            formControlName="szamla2"
            class="w-full p-2 border border-blue-300 rounded-xl shadow-sm"
          >
            <option value="0" selected>Válassz számlát</option>
            <option *ngFor="let invoice of invoiceOption" [value]="invoice.id">
              {{ invoice.invoice_name }}
            </option>
            <option *ngIf="invoiceOption.length === 0" value="" disabled>
              Nincs elérhető számla
            </option>
          </select>
        </div>

        <!-- Küldés gomb -->
        <div class="w-full flex justify-start mt-4">
          <button
            type="submit"
            class="bg-blue-500 text-white font-semibold py-2 px-4 rounded-xl hover:bg-blue-600 disabled:bg-gray-400 disabled:text-gray-200 disabled:hover:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300 shadow"
          >
            Átalakítás
          </button>
        </div>
      </form>
    </div>
    <!--  -->
    <div *ngIf="calculateCosts" class="grid grid-cols-1 md:grid-cols-2 gap-4 mt-6">
      <!-- Költségek -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 shadow hover:shadow-lg transition duration-300">
        <div class="flex items-center space-x-3">
          <span class="text-2xl">📦</span>
          <div>
            <h4 class="text-sm text-gray-500">Összes költség</h4>
            <p class="text-xl font-semibold text-gray-800">{{ calculateCosts.total_amount | number }} Ft</p>
          </div>
        </div>
      </div>

      <!-- Legutóbbi cashflow -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 shadow hover:shadow-lg transition duration-300">
        <div class="flex items-center space-x-3">
          <span class="text-2xl">💼</span>
          <div>
            <h4 class="text-sm text-gray-500">Utolsó fizetés</h4>
            <p class="text-xl font-semibold text-gray-800">{{ calculateCosts.latest_cashflow_amount | number }} Ft</p>
          </div>
        </div>
        <div class="flex items-center space-x-3">
          <span class="text-2xl">💸</span>
          <div>
            <h4 class="text-sm text-gray-500">Fizetésből maradék</h4>
            <p class="text-xl font-semibold text-gray-800">{{ calculateCosts.cashflow_minus_total | number }} Ft</p>
          </div>
        </div>
      </div>

      <!-- Számlák - költségek -->
      <div class="bg-white border border-gray-200 rounded-2xl p-4 shadow hover:shadow-lg transition duration-300">
        <div class="flex items-center space-x-3">
          <span class="text-2xl">🏦</span>
          <div>
            <h4 class="text-sm text-gray-500">Számlákon lévő maradék</h4>
            <p class="text-xl font-semibold text-gray-800">{{ calculateCosts.invoice_minus_total	 | number }} Ft</p>
          </div>
        </div>

        <div class="flex items-center space-x-3">
          <span class="text-2xl">📑</span>
          <div>
            <h4 class="text-sm text-gray-500">Számlákon lévő összeg</h4>
            <p class="text-xl font-semibold text-gray-800">{{ calculateCosts.total_enabled_invoice_amount | number }} Ft</p>
          </div>
        </div>

      </div>
    </div>


    <!-- Költségek listája -->
    <div class="bg-blue-100 p-6 rounded-2xl shadow-md border border-blue-200 flex-1">
      <h2 class="text-2xl font-semibold text-blue-800 mb-4">Havi költségek listája</h2>

      <div class="mb-4 space-x-4">
        <button
          (click)="selectAllCosts()"
          class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-400 disabled:text-gray-200 disabled:hover:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300"
        >
          Összes kiválasztása
        </button>

        <button
          (click)="deselectAllCosts()"
          class="px-4 py-2 bg-red-500 text-white rounded-md hover:bg-red-600 disabled:bg-gray-400 disabled:text-gray-200 disabled:hover:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-red-300"
        >
          Összes kiválasztás törlése
        </button>
      </div>
      <button
        (click)="calculateCost()"
        class="px-4 py-2 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:bg-gray-400 disabled:text-gray-200 disabled:hover:bg-gray-400 cursor-pointer disabled:cursor-not-allowed transition-colors duration-200 focus:outline-none focus:ring-2 focus:ring-blue-300"
    >
      Kalkuláció
    </button>
      <div class="overflow-x-auto">
        <table class="min-w-full table-auto">
          <thead>
            <tr class="bg-blue-200 text-blue-900">
              <th class="px-4 py-2 text-left border-b">Választás</th>
              <th class="px-4 py-2 text-left border-b">Költség neve</th>
              <th class="px-4 py-2 text-left border-b">Összeg</th>
              <th class="px-4 py-2 text-left border-b">Dátum</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let cost of autoCosts" class="bg-white">
              <td class="px-4 py-2 border-b">
                <input
                  type="checkbox"
                  [(ngModel)]="cost.selected"
                  [disabled]="disabledCostIds.includes(cost.id)"
                  class="form-checkbox"
                  (change)="selectedCosts()"
                />
              </td>
              <td class="px-4 py-2 border-b">{{ cost.cost_name }}</td>
              <td class="px-4 py-2 border-b text-green-700 font-semibold">{{ cost.amount }} Ft</td>
              <td class="px-4 py-2 border-b">{{ cost.cost_date }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
