<form [formGroup]="costForm" (ngSubmit)="onSubmit()" class="space-y-4">
  <ng-container *ngFor="let field of fields">
    <div
      *ngIf="field.type !== 'checkbox'"
      class="flex flex-col"
    >
      <label [for]="field.name" class="text-sm text-gray-700 mb-1">{{ field.label }}</label>

      <input
        *ngIf="field.type !== 'select'"
        [id]="field.name"
        [formControlName]="field.name"
        [type]="field.type"
        class="p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400"
        [disabled]="field.name === 'paid_date' && costForm.get('paid')?.value === false"
      />

      <select
        *ngIf="field.type === 'select'"
        [id]="field.name"
        [formControlName]="field.name"
        class="p-2 border border-gray-300 rounded-md focus:ring-2 focus:ring-blue-400"
      >
        <option value="" disabled>-- Válasszon --</option>
        <option
          *ngFor="let item of (field.listName ? this[field.listName] : [])"
          [value]="item.id"
        >
          {{ getDisplayName(field, item) }}
        </option>
      </select>
    </div>

    <div *ngIf="field.type === 'checkbox'" class="flex items-center">
      <input
        [id]="field.name"
        type="checkbox"
        [formControlName]="field.name"
        class="mr-2 w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-2 focus:ring-blue-400"
      />
      <label [for]="field.name" class="text-sm text-gray-700">{{ field.label }}</label>
    </div>
  </ng-container>

  <button
    type="submit"
    class="w-full mt-4 px-4 py-2 bg-blue-600 text-white font-semibold rounded-md hover:bg-blue-700 transition"
  >
    Hozzáadás
  </button>
</form>

