<div [appHighlighted]="false" class="bg-blue-100 border-l-4 border-blue-500 text-blue-700 p-4 mb-4 rounded">
  <ng-content select="h3"></ng-content><h3>{{ cashflow.cash_flow_name }}</h3>
  <p class="font-semibold"></p>
  <div class="container mx-auto p-4">
    <table class="min-w-full table-auto">
      <thead>
        <tr>
          <th class="px-4 py-2 text-left border-b">Típus</th>
          <th class="px-4 py-2 text-left border-b">Felhasználó</th>
          <th class="px-4 py-2 text-left border-b">Számla</th>
          <th class="px-4 py-2 text-left border-b">Leírás</th>
          <th class="px-4 py-2 text-left border-b">Összeg</th>
          <th class="px-4 py-2 text-left border-b">Dátum</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="px-4 py-2 border-b">{{cashflow.cashflowgroup}}</td>
          <td class="px-4 py-2 border-b">{{cashflow.user}}</td>
          <td class="px-4 py-2 border-b">{{cashflow.invoice}}</td>
          <td class="px-4 py-2 border-b">{{cashflow.cash_flow_note}}</td>
          <td class="px-4 py-2 border-b">{{cashflow.amount}} Ft</td>
          <td class="px-4 py-2 border-b">{{cashflow.cash_flow_date}}</td>
        </tr>
      </tbody>
    </table>
  </div>


</div>



