<div class="flex flex-wrap gap-2 mb-4">
  <button (click)="selectAll()" appButton="blue">Összes kiválasztása</button>
  <button (click)="deselectAll()" appButton="blue">Összes kiválasztás törlése</button>
</div>

<div class="overflow-x-auto">
  <table appTailwindStyledTable>
    <thead>
      <tr >
        <th>Választás</th>
        <th>Költség neve</th>
        <th>Összeg</th>
        <th>Dátum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cost of costs" >
        <td >
          <input
            type="checkbox"
            [(ngModel)]="cost.selected"
            [disabled]="isDisabled(cost.id)"
            class="form-checkbox"
            (change)="toggleSelection(cost)"
          />
        </td>
        <td>{{ cost.cost_name }}</td>
        <td>{{ cost.amount }} Ft</td>
        <td>{{ cost.cost_date }}</td>
      </tr>
    </tbody>
  </table>
</div>

