<form [formGroup]="cashFlowForm" (ngSubmit)="submitForm()">
  <div class="flex flex-col">
    <label>Költség neve</label>
    <input type="text" formControlName="cash_flow_name" />
  </div>

  <div >
    <label>Megjegyzés</label>
    <input type="text" formControlName="cash_flow_note" />
  </div>

  <div>
    <label>Összeg</label>
    <input type="number" formControlName="amount" />
  </div>

  <div>
    <label>Dátum</label>
    <input appStyledDateInput type="date" formControlName="cash_flow_date" />
  </div>

  <div>
    <label>Pénznem</label>
    <select formControlName="dev">
      <option *ngFor="let dev of devs" [value]="dev.id">{{ dev.dev_name }}</option>
    </select>
  </div>

  <div>
    <label>Számla</label>
    <select formControlName="invoice">
      <option *ngFor="let invoice of invoices" [value]="invoice.id">
        {{ invoice.invoice_name }}
      </option>
    </select>
  </div>

  <div>
    <label>Költség csoport</label>
    <select
      formControlName="cashflowgroup"
    >
      <option *ngFor="let group of cashFlowGroups" [value]="group.id">
        {{ group.cash_flow_group_name }}
      </option>
    </select>
  </div>
  <!--
  <button appButton="blue" type="submit">
    Hozzáadás1
  </button> -->
</form>
