<h2>Kiadások felvitele köv. hónapra</h2>

<button (click)="onSetAll(true)" appButton="blue">Összes kiválasztása</button>
<button (click)="onSetAll(false)" appButton="red">Összes kiválasztás törlése</button>

<table appTailwindStyledTable>
  <thead>
    <tr>
      <th>Választás</th>
      <th>Költség neve</th>
      <th>Összeg</th>
      <th>Dátum</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cost of autoCosts">
      <td>
        <input
          type="checkbox"
          [(ngModel)]="cost.selected"
          [disabled]="disabledCostIds.includes(cost.id)"
          class="form-checkbox"
          (change)="onCheckboxChange()"
        />
      </td>
      <td>{{ cost.cost_name }}</td>
      <td>{{ cost.amount }} Ft</td>
      <td>{{ cost.cost_date }}</td>
    </tr>
  </tbody>
</table>
<div>
  <button (click)="onUpdateDates()" appButton="blue" [disabled]="!selectedCosts.length">
    Költségek dátumainak frissítése
  </button>
</div>
