<form [formGroup]="costRepeatForm" (ngSubmit)="formSubmit.emit()">
  <!-- Név -->
  <div>
    <label for="cost_repeat_name">Név</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="cost_repeat_name"
      type="text"
      formControlName="cost_repeat_name"
      required
    />
  </div>

  <!-- Megjegyzés -->
  <div>
    <label for="cost_repeat_note">Megjegyzés</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="cost_repeat_note"
      type="text"
      formControlName="cost_repeat_note"
    />
  </div>

  <!-- Összeg + Dátum -->

  <div>
    <label for="amount">Összeg (Ft)</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="amount"
      type="number"
      formControlName="amount"
    />
  </div>

  <div>
    <label for="cost_repeat_date">Költség dátuma</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="cost_repeat_date"
      type="date"
      formControlName="cost_repeat_date"
      required
    />
  </div>

  <!-- Fizetve + Fizetés dátuma -->

  <div>
    <label for="paid">Fizetve</label>
    <select appTailwindStyledSelect="w-24" id="paid" formControlName="paid">
      <option [value]="1">Igen</option>
      <option [value]="0">Nem</option>
    </select>
  </div>

  <div>
    <label for="paid_date">Fizetés dátuma</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="paid_date"
      type="date"
      formControlName="paid_date"
    />
  </div>

  <!-- Lejárati dátum -->
  <div class="flex flex-col">
    <label for="expire_date">Lejárati dátum</label>
    <input
      appStyledInput
      [widthClass]="'w-1/2'"
      id="expire_date"
      type="date"
      formControlName="expire_date"
    />
  </div>

  <!-- Gombok -->
  <div>
    <button type="submit" appButton="blue">
      {{ isEditMode ? 'Mentés' : 'Létrehozás' }}
    </button>
  </div>
</form>
