<div appTailwindBlueBox>
  <app-cost-filter [searchDate]="searchDate" (filter)="onFilterDate($event)"></app-cost-filter>
  <app-cost-search-result-table [costsSearchResults]="costsSearchResults"></app-cost-search-result-table>
</div>
<h2 class="text-2xl font-semibold text-blue-800 mb-4">Költségek listája</h2>
<app-cost-list-table [costs]="costs" (delete)="deleteCost($event)"
  (markPaid)="markAsPaid($event)"></app-cost-list-table>
<div class="mt-4 h-12 flex justify-center items-center gap-4">
  <button class="w-24 px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:opacity-50"
    [disabled]="currentPage === 1" (click)="changePage(currentPage - 1)">
    Előző
  </button>

  <span class="text-gray-700">Oldal {{ currentPage }} / {{ totalPages }}</span>

  <button class="w-24 px-3 py-1 bg-blue-500 text-white rounded-md hover:bg-blue-600 disabled:opacity-50"
    [disabled]="currentPage === totalPages" (click)="changePage(currentPage + 1)">
    Következő
  </button>
</div>

<div appTailwindBlueBox>
  <h2 class="text-2xl font-semibold text-blue-800 mb-4">Új költség hozzáadása</h2>
  <app-cost-form [invoices]="invoices" [devs]="devs" [costRepeats]="costRepeats" [costGroups]="costGroups"
    (formSubmit)="addCost($event)"></app-cost-form>
</div>
