
  <div>
    <p>ID: {{ invoice.id }}</p>
    <h3>
      <input [value]="invoice.invoice_name" type="text" [(ngModel)]="invoice.invoice_name" id="invoice_name"
         required />
    </h3>
  </div>

  <div>
    <span>Felhasználó:</span> {{ invoice.user }}
  </div>

  <div>
    <label for="invoice_note" >Leírás</label>
    <input [value]="invoice.invoice_note" type="text" [(ngModel)]="invoice.invoice_note" id="invoice_note"
      placeholder="Számla leírása" required />
  </div>

  <div>
    <label for="amount" >Összeg:</label>
    <input type="number" id="amount" name="amount" [(ngModel)]="invoice.amount" value="{{ invoice.amount }}"
       min="1" step="1" required pattern="\d+"
      title="Kérlek, adj meg egy pozitív egész számot!" />
    Ft
  </div>

  <div >
    <label  for="enableInvoice">Státusz:</label>
    <input id="enableInvoice" type="checkbox" [(ngModel)]="invoice.enable_invoice"
      class="form-checkbox h-5 w-5 text-green-600" />
    <span [ngClass]="{
          'text-green-600': invoice.enable_invoice,
          'text-red-600': !invoice.enable_invoice,
        }">
      {{ invoice.enable_invoice ? 'Aktív számla' : 'Inaktív számla' }}
    </span>
  </div>

  <div >
    <span>Létrehozva:</span>
    {{ invoice.create_invoice_date | date: 'yyyy-MM-dd' }}
  </div>

  <div>
    <button appButton="blue" (click)="onSaveClicked()">
      Mentés
    </button>
  </div>


