<div *ngIf="summaries.length > 0">
  <table class="min-w-full table-auto rounded overflow-hidden shadow-sm">
    <thead>
      <tr class="bg-blue-200">
        <th class="px-4 py-2 text-left border-b">Számla neve</th>
        <th class="px-4 py-2 text-left border-b">Leírás</th>
        <th class="px-4 py-2 text-left border-b">Létrehozva</th>
        <th class="px-4 py-2 text-left border-b">Számla összeg</th>
        <th class="px-4 py-2 text-left border-b text-green-800">Fizetett</th>
        <th class="px-4 py-2 text-left border-b text-red-800">Nem fizetett</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let summary of summaries">
        <td class="px-4 py-2 border-b">{{ summary.invoice.invoice_name }}</td>
        <td class="px-4 py-2 border-b">{{ summary.invoice.invoice_note }}</td>
        <td class="px-4 py-2 border-b">
          {{ summary.invoice.create_invoice_date | date: 'yyyy-MM-dd' }}
        </td>
        <td class="px-4 py-2 border-b">{{ summary.invoice.amount | number: '1.0-0' }} Ft</td>
        <td class="px-4 py-2 border-b text-green-700">
          {{ summary.total_paid | number: '1.0-0' }} Ft
        </td>
        <td class="px-4 py-2 border-b text-red-700">
          {{ summary.total_unpaid | number: '1.0-0' }} Ft
        </td>
      </tr>
    </tbody>
  </table>
</div>

