<div *ngIf="summaries.length > 0">
  <table appTailwindStyledTable>
    <thead>
      <tr>
        <th>Számla neve</th>
        <th>Leírás</th>
        <th>Létrehozva</th>
        <th>Számla összeg</th>
        <th>Fizetett</th>
        <th>Nem fizetett</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let summary of summaries">
        <td>{{ summary.invoice.invoice_name }}</td>
        <td>{{ summary.invoice.invoice_note }}</td>
        <td>
          {{ summary.invoice.create_invoice_date | date: 'yyyy-MM-dd' }}
        </td>
        <td>{{ summary.invoice.amount | number: '1.0-0' }} Ft</td>
        <td>{{ summary.total_paid | number: '1.0-0' }} Ft</td>
        <td>{{ summary.total_unpaid | number: '1.0-0' }} Ft</td>
      </tr>
    </tbody>
  </table>
</div>
