@import 'tailwindcss';

app-invoice.is-first {
  border-top: 2px solid grey;
  padding-top: 20px;
}

app-invoice.is-last {
  border-bottom: 2px solid grey;
  padding-top: 20px;
}

app-invoice.is-even {
  background: lightgray;
}

app-invoice.is-odd {
  background: lightcyan;
}

.warn {
  color: red;
}

.appHighlighted {
  box-shadow:
    0 2px 16px 0 #de1e19,
    0 3px 8px 0 rgba(226, 21, 19, 0.47),
    0 6px 8px -1px #b41c18;
}
.card {
  margin-bottom: 50px;
}
