<!-- Összesítő -->

<h2 class="text-3xl font-extrabold mb-6 text-gray-800 dark:text-gray-100">
  Számlák költségösszesítője
</h2>
<p class="font-sans text-sm">
  Hónap kezdete: {{ startOfMonth | date: 'yyyy-MM-dd' }} - Hónap vége:
  {{ endOfMonth | date: 'yyyy-MM-dd' }}
</p>
<app-alert-message
  *ngIf="successMessage"
  [type]="'success'"
  [message]="successMessage"
  [closable]="true"
>
</app-alert-message>

<app-alert-message *ngIf="errorMessage" [type]="'error'" [message]="errorMessage" [closable]="true">
</app-alert-message>
<ng-container *ngFor="let summary of summaries; trackBy: trackBySummary">
  <app-invoice-summary-card [summary]="summary"></app-invoice-summary-card>
</ng-container>

<!-- Számlák listája -->

<h2 class="text-2xl font-semibold text-blue-800 dark:text-blue-200 mb-4">Számlák</h2>

<ng-container *ngFor="let group of invoices$ | async | groupBy: 2">
  <ng-container *ngFor="let invoice of group; index as i">
    <app-invoice-card
      [invoice]="invoice"
      [index]="i + 1"
      (invoiceSelected)="onInvoiceSelected($event)"
      (invoiceChanged)="onInvoiceSave($event)"
    >
    </app-invoice-card>
  </ng-container>
</ng-container>
